{% extends 'base.html' %}

{% block title %}<h1> Главная страница </h1>{% endblock %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        <h3>Проект Группы МРО-21 из МГОТУ</h3>
    </div>
    <div class="card-body">

        <h2 class="card-title">Проект_Рецони</h2>
        <img src="https://phonoteka.org/uploads/posts/2021-05/1621962038_11-phonoteka_org-p-zvyozdnie-voini-arti-krasivo-13.jpg"
             alt="" width="1080" height="480" class="float-left mr-3">
        <p class="card-text">Этот проект предназначен для проведения эксперемента с отправкой муравьёв в космос, и
            проведений отчётов об их жизнидеятельности в течений 75 дней.</p>
        <p class="card-text">Самая обычная рабочая суббота, неожиданным
            образом превратилась в кошмар для сотрудников офиса в самом сердце Лос-Анджелеса.

            И без того замученные люди становятся свидетелями череды необъяснимых событий. Все начинается с того, что
            пропадает электричество, и теперь сослуживцы становятся узниками в своем офисе.

            Но это еще не самое страшное, оказывается группа людей не единственные обитатели стеклянного замка, с ними
            вместе коротают время гигантские муравьи, которые прибыли в здание вместе с декоративными растениями, и
            теперь остается только надеяться, что небольшая группа людей сможет противостоять экспериментально
            выведенным гигантам, которые не способны на пощаду.</p>
        <a href="{% url 'observation' %}" class="btn btn-primary">Перейти к наблюдению за эксперементом </a>
    </div>
</div>
{% endblock %}

