<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Проект_Рецони</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_report' %}">Добавить отчёт</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'monitor' %}">Обсерватория</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Инforмация
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'reports' %}">Отчёты</a></li>
                    <li><a class="dropdown-item" href="{% url 'authors' %}">Об авторах </a></li>
                    <li><a class="dropdown-item" href="{% url 'observation' %}">Трансляция</a></li>
                </ul>
            </li>
        </ul>

        <span class="navbar-text">
            {% if request.user.is_authenticated %}
            Добропожаловать {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'register' %}">Зарегистрироватся</a> | <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </span>
    </div>
</nav>